<ion-view>
  <ion-content ng-controller="refCtrl">
    탭스1
    <div class="">
      <default-tabs1></default-tabs1>
    </div>
    상세정보
    <div class="">
      <detail-info></detail-info>
    </div>
    타이틀
    <title1></title1>
    버튼
    <div class="test">
      <default-btn1>ㅏ먼이ㅏㅁㄴ</defult-btn1>
    </div>
    <div class="">
      <default-btn2>ㅏ먼이ㅏㅁㄴ</defult-btn2>
    </div>
    <div class="main">
      <two-btn></two-btn>
    </div>
    <div class="login">
      <two-btn></two-btn>
    </div>
    인풋
    <div class="">
      <default-input1></default-input1>
    </div>
    <div class="">
      <default-input2></default-input2>
    </div>
    <div class="">
      <default-input3></default-input3>
    </div>
    슬라이드
    <div class="">
      <default-slide></default-slide>
    </div>
    썸내일
    <div class="">
      <thumnail></thumnail>
    </div>
    썸네일리스트1
    <div class="">
      <thumbnail-list1></thumbnail-list1>
    </div>
    썸네일리스트2
    <div class="">
      <thumbnail-list2></thumbnail-list2>
    </div>
    카드리스트
    <div class="list card-wrap">
      <thumnail-card></thumnail-card>
      <thumnail-card></thumnail-card>
    </div>
    체크박스
    <div class="crc-check">
      <checkbox1></checkbox1>
    </div>
    <div class="rtg-check">
      <checkbox2></checkbox2>
    </div>
    <div class="" ng-click="showConfirm()">
      얼럿테스트
    </div>


  </ion-content>
  <fab></fab>
</ion-view>
