<ion-view view-title="긴급구인">
  <ion-content class="emergency-wrap">
    <div class="rotation">
      <img src="img/antena.png" alt="" width="20%">
    </div>
    <div class="text-box">
      <p><span class="main-color">반경</span>5km <span class="main-color">거리내</span> 맞춤 연결중...</p>
      <p class="wait-msg">요청하신 조건으로 구직자를 찾고 있습니다.</p>
      <p class="wait-msg">잠시만 기다려주세요</p>
    </div>
    <div class="info-box">
      <ul class="detail-info-ul">
          <li class="detail-info-li">
              <p class="info-left">이름</p>
              <p class="info-right">홍길동</p>
          </li>
          <li class="detail-info-li">
              <p class="info-left">지역</p>
              <p class="info-right">경상북도 > 포항시 북구</p>
          </li>
          <li class="detail-info-li">
              <p class="info-left">일시</p>
              <p class="info-right">2017.04.03 - 2017.04.10</p>
          </li>
          <li class="detail-info-li">
              <p class="info-left">금액</p>
              <p class="info-right">10,0000원</p>
          </li>
      </ul>
    </div>
    <button class="button button-block" ng-click="hoho()">
       연결 취소
    </button>
  </ion-content>
</ion-view>
