<ion-view view-title="주방 이용 요금 및 안내" ng-controller="introCtrl">
  <ion-nav-buttons side="left">
          <a class="btn button-clear custom-back-button" ng-click="backBtn()">
                <i class="ion-chevron-left"></i>
          </a>
 </ion-nav-buttons>
  <ion-content class="intro-content">
    <div class="intro-wrap">
      <div class="main-img">
        <img src="img/intro/main-img.png" alt="" width="100%">
      </div>
      <div class="explain-img">
        <img src="img/intro/explain.png" alt="" width="100%">
      </div>
      <div class="item-wrap">
        <span class="mid-bar"></span>
        <div class="title-wrap">
          <img src="img/intro/title.png" alt="" width="50%">
        </div>
        <!-- <ul class="jubang-item-list jubang-item-list1">
          <li class="jubang-item">
            <h5>자동매칭 서비스</h5>
            <p>구인자가 원하는 구직자를 찾아주는 자동매칭 서비스 입니다.</p>
            <div class="btn-wrap" ui-sref="">
              <button class="button button-block default-btn2">
                구매하기
              </button>
            </div>
          </li>
          <li class="jubang-item">
            <h5>자동매칭 서비스</h5>
            <p>구인자가 원하는 구직자를 찾아주는 자동매칭 서비스 입니다.</p>
            <div class="btn-wrap" ui-sref="">
              <button class="button button-block default-btn2">
                구매하기
              </button>
            </div>
          </li>
          <li class="jubang-item">
            <h5>자동매칭 서비스</h5>
            <p>구인자가 원하는 구직자를 찾아주는 자동매칭 서비스 입니다.</p>
            <div class="btn-wrap" ui-sref="">
              <button class="button button-block default-btn2">
                구매하기
              </button>
            </div>
          </li>
          <li class="jubang-item">
            <h5>자동매칭 서비스</h5>
            <p>구인자가 원하는 구직자를 찾아주는 자동매칭 서비스 입니다.</p>
            <div class="btn-wrap" ui-sref="">
              <button class="button button-block default-btn2">
                구매하기
              </button>
            </div>
          </li>
        </ul>
        <ul class="jubang-item-list jubang-item-list2">
          <li class="jubang-item">
            <h5>자동매칭 서비스</h5>
            <p>구인자가 원하는 구직자를 찾아주는 자동매칭 서비스 입니다.</p>
            <div class="btn-wrap" ui-sref="">
              <button class="button button-block default-btn2">
                구매하기
              </button>
            </div>
          </li>
          <li class="jubang-item">
            <h5>자동매칭 서비스</h5>
            <p>구인자가 원하는 구직자를 찾아주는 자동매칭 서비스 입니다.</p>
            <div class="btn-wrap" ui-sref="">
              <button class="button button-block default-btn2">
                구매하기
              </button>
            </div>
          </li>
          <li class="jubang-item">
            <h5>자동매칭 서비스</h5>
            <p>구인자가 원하는 구직자를 찾아주는 자동매칭 서비스 입니다.</p>
            <div class="btn-wrap" ui-sref="">
              <button class="button button-block default-btn2">
                구매하기
              </button>
            </div>
          </li>
          <li class="jubang-item">
            <h5>자동매칭 서비스</h5>
            <p>구인자가 원하는 구직자를 찾아주는 자동매칭 서비스 입니다.</p>
            <div class="btn-wrap" ui-sref="">
              <button class="button button-block default-btn2">
                구매하기
              </button>
            </div>
          </li>
        </ul> -->

      </div>

    </div>
  </ion-content>
</ion-view>
