<div class="find-gen-tabs">
    <div class="tab-nav tabs" style="top:0px; background-color:white">
        <a class="tab-item tab-item-active" style="">
          <!-- ngIf: badge --><!-- ngIf: getIcon() -->
          <span class="tab-title ng-binding">전체</span>
        </a>
        <a class="tab-item" style="">
          <!-- ngIf: badge --><!-- ngIf: getIcon() -->
          <span class="tab-title ng-binding">최근순</span>
        </a>
        <a class="tab-item" style="">
          <!-- ngIf: badge --><!-- ngIf: getIcon() -->
          <span class="tab-title ng-binding">별점순</span>
        </a>
        <a class="tab-item" style="">
          <!-- ngIf: badge --><!-- ngIf: getIcon() -->
          <span class="tab-title ng-binding">거리순</span>
        </a>
    </div>
</div>

<!-- <script>
$(".tab-item").each(function(i){
  $(this).click(function(){
    $(".tab-item").removeClass("tab-item-active");
    $(this).addClass("tab-item-active");
    $(".list-tab").hide();
    $(".list-tab"+(i+1)).show();

  });
});
</script> -->
