<div class="">
  <form class="" action="" method="post">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="아이디를 입력하세요">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="비밀번호를 입력하세요">
      </label>
      <h6 class="main-color">탈퇴사유 또는 불편사항을선택해주세요</h6>
      <label class="item item-select">
        <select class="" name="">
          <option value="">
            사용법이 어렵고 복잡합니다.
          </option>
          <option value="">
            사용법이 어렵고 복잡합니다.
          </option>
        </select>
      </label>
    </div>
  </form>
</div>
