<div class="detail-info1-wrap">
  <ul class="detail-info-ul">
    <li class="detail-info-li">
      <p class="info-left">
        이름
      </p>
      <p class="info-right">
        {{name}}
      </p>
    </li>
    <li class="detail-info-li">
      <p class="info-left">
        주소
      </p>
      <p class="info-right">
        {{address}}
      </p>
    </li>
    <li class="detail-info-li">
      <p class="info-left">
        일시
      </p>
      <p class="info-right">
        {{eventDate}}
      </p>
      </li>
    <li class="detail-info-li">
      <p class="info-left">
        금액
      </p>
      <p class="info-right">
        {{pay}}
      </p>
    </li>
  </ul>

</div>
