<div class="list">
  <!-- 리스트 하나 -->
    <a class="item item-thumbnail-left item-thumb-wrap" ui-sref="">
      <img class="circle" src="http://www.placehold.it/100x100">
      <div class="thumblist-date">
        <span class="date">2017-03-24</span>
        <span class="minute">5분전</span>
        <div class="rateYo">

        </div>
      </div>
      <p class="thumblist-title">이력서 제목 되겠습니다</p>
      <div class="thumbnailist-cont">
        ㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓ
      </div>
      <div class="regi-button-wrap">
        <div class="three-btn">
          <ul class="three-btn-ul">
            <li class="three-btn-li">1</li>
            <li class="three-btn-li">2</li>
            <li class="three-btn-li">3</li>
          </ul>
        </div>
      </div>
    </a>
</div>
