    <div class="fab-church" ng-controller="fabCtrl">
      <!-- <nav mfb-menu position="br" effect="zoomin" bgcolor='#118be8' active-icon="ion-edit" resting-icon="ion-plus-round" toggling-method="click" ng-click="action()"> -->
      <nav mfb-menu position="br" effect="zoomin" bgcolor='#118be8' active-icon="" resting-icon="" >
        <!-- <div class="fab-main-btn" toggling-method="click" ng-click="action()">
          <p class="more-icon">+</p>
          <p>더보기</p>
        </div> -->
        <!-- <button mfb-button bgcolor='#009688' label="item 1" icon="ion-ios-person"></button>
        <button mfb-button bgcolor='#F44336' label="item 2" icon="ion-ios-star"></button>
        <button mfb-button bgcolor='#F44336' label="item 2" icon="ion-ios-star"></button> -->
        <button class="fab-button fab-button1" mfb-button bgcolor='white' ui-sref="generalRegi"></button>
        <button class="fab-button fab-button2" mfb-button bgcolor='white' ui-sref="matchingGeneral"></button>
        <button class="fab-button fab-button3" mfb-button bgcolor='white' ui-sref="matchingFinGeneral"></button>
      </nav>
    </div>
