<div class="two-btn">
  <div class="left" ui-sref="{{btnInfo.sref1}}">
    <div class="two-img">
      <img src="img/{{btnInfo.left}}" alt="">
    </div>
    <div class="two-title">
      {{btnInfo.twoTitle1}}<br>
      {{btnInfo.subTitle1}}
    </div>
  </div>
    <div class="right" ui-sref="{{btnInfo.sref2}}">
    <div class="two-img">
      <img src="img/{{btnInfo.right}}" alt="">
    </div>
    <div class="two-title">
      {{btnInfo.twoTitle2}} <br>
      {{btnInfo.subTitle2}}
    </div>
  </div>
</div>
