<div class="sns-bar" ng-controller='snsShareCtrl'>
  <ul class="snsBar-ul">
    <li class="sns-logo" ng-click = "kakaoShareInfo(snsSharetitle, snsSharetype, snsShareNo)">
      <img src="img/sns-kakao.png" alt="" width="80%">
    </li>
    <li class="sns-logo" ng-click = "facebook(snsShareNo,snsSharetype)">
      <img src="img/sns-face.png" alt="" width="80%">
    </li>
    <li class="sns-logo" ng-click = "band(snsSharetitle,snsSharetype, snsShareNo)">
      <img src="img/sns-band.png" alt="" width="80%">
    </li>
    <li class="sns-logo" ng-click = "sms(snsShareNo,snsSharetype)">
      <img src="img/sns-sms.png" alt="" width="80%">
    </li>
  </ul>
</div>
