<ion-view view-title="교회 등록서 수정">
    <ion-content class="has-header padding-wrap write-form-wrap" ng-controller="churchModifyCtrl">
        <div class="church-write-input">
            <div class="input-padding">
                <div class="list" style="overflow: hidden;">
                    <label class="item item-floating-label default-input1" style="float: left; width: 40%;">교단 이름</label>
                    <label class="item item-floating-label default-input1" style="float: left; width: 61%;">{{ order }}</label>
                </div>
                <div class="list" style="overflow: hidden;">
                    <label class="item item-floating-label default-input1" style="float: left; width: 40%;">교회 이름</label>
                    <label class="item item-floating-label default-input1" style="float: left; width: 61%;">{{ church }}</label>
                </div>
                <div class="list" style="overflow: hidden;">
                    <label class="item item-floating-label default-input1" style="float: left; width: 40%;">담임 목사 이름</label>
                    <label class="item item-floating-label default-input1" style="float: left; width: 61%;">{{ ministry }}</label>
                </div>
            </div>
            <div>교단, 교회, 담임 목사는 <a ui-sref="modifyPage">개인 정보 수정</a>에서 수정해주세요.</div>
        </div>
        <div class="title1">
            <h4 class="left">위치</h4>
        </div>
        <div class="list select-form select-local">
            <label class="item item-select">
                <select ng-change="getArea2ndList()" ng-model="area1" ng-options="area1.no as area1.list_name for area1 in selboxData.area_1st"></select>
            </label>
            <label class="item item-select select-local">
                <select ng-model="area2" ng-options="area2.no as area2.list_name for area2 in selboxData.area_2nd"></select>
            </label>
        </div>
        <div class="input-padding">
            <div class="list">
                <label class="item item-input item-floating-label default-input1">
                    <input type="text" ng-model="address" placeholder="상세 주소를 입력해 주세요." />
                </label>
            </div>
        </div>
        <div class="title1">
            <h4 class="left">행사 정보 입력하기</h4>
        </div>
        <div class="list">
            <label class="item item-input item-floating-label default-input1">
                <input type="text" ng-model="event" placeholder="행사명을 입력해주세요." />
            </label>
        </div>
        <div class="list select-form select-date">
            <label class="item item-select">
                <select ng-model="startDate" ng-options="data as data for data in selboxData.start_date"></select>
            </label>
            <label class="wave"> ~ </label>
            <label class="item item-select select-local">
                <select ng-model="endDate" ng-options="data as data for data in selboxData.end_date"></select>
            </label>
        </div>
        <div class="title1">
            <h4 class="left">행사 시간</h4>
        </div>
        <div class="list select-form select-date">
            <label class="item item-select">
                <select ng-model="startTime" ng-options="data as data for data in selboxData.start_time"></select>
            </label>
            <label class="wave"> ~ </label>
            <label class="item item-select select-local">
                <select ng-model="endTime" ng-options="data as data for data in selboxData.end_time"></select>
            </label>
        </div>
        <div class="title1">
            <h4 class="left">금액</h4>
        </div>
        <div class="list">
            <label class="item item-input item-floating-label default-input1" ng-show="payModify == false">{{ pay }}원</label>
            <div ng-show="payModify == false">지원자가 있는 채용 공고는 금액을 수정할 수 없습니다.</div>
            <label class="item item-input item-floating-label default-input1" ng-show="payModify == true">
                <input type="text" ng-model="pay" placeholder="금액을 입력해 주세요." />
            </label>
        </div>
        <div class="title1">
            <h4 class="left">동영상</h4>
        </div>
        <div class="list">
            <label class="item item-input item-floating-label default-input1">
                <input type="text" ng-model="videoUrl" placeholder="동영상 URL 링크를 입력해 주세요." />
            </label>
        </div>
        <div class="title1">
            <h4 class="left">사진 첨부</h4>
        </div>
        <div class="list thumbnail">
            <img class="add-img" src="http://il-bang.com/jubang_ajax/imageGuin/{{ image.image }}" ng-click="imageChange('modify', $index)" width="32.4%" ng-repeat="image in imageList" />
            <span class="add-photo" ng-click="getPicture('push')" ng-show="seq < 6">
                <img src="img/plus.png" width="40%" />
            </span>
        </div>
        <div class="text-area">
            <textarea rows="8" ng-model="content" placeholder="내용을 입력해주세요." style="border: 1px solid #ddd; width: 100%;"></textarea>
        </div>
        <div class="padding submit-btn-wrap">
            <button ng-click="churchModify()" class="button button-block button-positive" >교회 정보 수정 완료</button>
        </div>
    </ion-content>
</ion-view>
