<!-- 리스트 하나 -->
<div class="find-gen-tab" ng-controller="genTabCtrl">
  <div class="find-local-wrap">
    <div class="list select-form select-local">
      <label class="item item-select">
        <select class="" name="asd">
          <option value="">시</option>
          <option value=""></option>
          <option value=""></option>
          <option value=""></option>
        </select>
      </label>
      <label class="item item-select select-local">
        <select class="" name="asd">
          <option value="">구</option>
          <option value=""></option>
          <option value=""></option>
          <option value=""></option>
        </select>
      </label>
    </div>
  </div>

  <div class="list">
    <!-- 리스트 하나 -->
      <a class="item item-thumbnail-left item-thumb-wrap" ui-sref="detailGeneral">
        <img class="circle" src="http://www.placehold.it/100x100">
        <div class="thumblist-date">
          <span class="date">2017-03-24</span>
          <span class="minute">5분전</span>
          <div class="rateYo">

          </div>
        </div>
        <p class="thumblist-title">이력서 제목 되겠습니다</p>
        <div class="thumbnailist-cont">
          ㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓ
        </div>
        <div class="subInfo">
          <span>서울특별시>강남구</span>
          <span class="price">₩350,000</span>
        </div>
        <div class="thumbnail-wrap">
          <div class="list thumbnail">
            <img class="add-img" src="http://www.placehold.it/100x85" width="32.4%">
            <img class="add-img" src="http://www.placehold.it/100x85" width="32.4%">
            <img class="add-img" src="http://www.placehold.it/100x85" width="32.4%">
          </div>
        </div>
      </a>
      <!-- 리스트 하나 -->
      <!-- 리스트 하나 -->
        <a class="item item-thumbnail-left item-thumb-wrap" href="#" ui-sref="detailPage">
          <img class="circle" src="http://www.placehold.it/100x100">
          <div class="thumblist-date">
            2017-03-24
            <div class="rateYo">

            </div>
          </div>
          <p class="thumblist-title">이력서 제목 되겠습니다</p>
          <div class="thumbnailist-cont">
            ㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓ
          </div>
          <div class="subInfo">
            <span>서울특별시>강남구</span>
            <span class="price">₩350,000</span>
          </div>
          <div class="thumbnail-wrap">
            <div class="list thumbnail">
              <img class="add-img" src="http://www.placehold.it/100x85" width="32.4%">
              <img class="add-img" src="http://www.placehold.it/100x85" width="32.4%">
              <img class="add-img" src="http://www.placehold.it/100x85" width="32.4%">
            </div>
          </div>
        </a>
        <!-- 리스트 하나 -->
        <!-- 리스트 하나 -->
          <a class="item item-thumbnail-left item-thumb-wrap" href="#" ui-sref="detailPage">
            <img class="circle" src="http://www.placehold.it/100x100">
            <div class="thumblist-date">
              2017-03-24
              <div class="rateYo">

              </div>
            </div>
            <p class="thumblist-title">이력서 제목 되겠습니다</p>
            <div class="thumbnailist-cont">
              ㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓ
            </div>
            <div class="subInfo">
              <span>서울특별시>강남구</span>
              <span class="price">₩350,000</span>
            </div>
            <div class="thumbnail-wrap">
              <div class="list thumbnail">
                <img class="add-img" src="http://www.placehold.it/100x85" width="32.4%">
                <img class="add-img" src="http://www.placehold.it/100x85" width="32.4%">
                <img class="add-img" src="http://www.placehold.it/100x85" width="32.4%">
              </div>
            </div>
          </a>
          <!-- 리스트 하나 -->
          <!-- 리스트 하나 -->
            <a class="item item-thumbnail-left item-thumb-wrap" href="#" ui-sref="detailPage">
              <img class="circle" src="http://www.placehold.it/100x100">
              <div class="thumblist-date">
                2017-03-24
                <div class="rateYo">

                </div>
              </div>
              <p class="thumblist-title">이력서 제목 되겠습니다</p>
              <div class="thumbnailist-cont">
                ㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓㅁ나어미나ㅓ임나어미나어민아ㅓ
              </div>
              <div class="subInfo">
                <span>서울특별시>강남구</span>
                <span class="price">₩350,000</span>
              </div>
              <div class="thumbnail-wrap">
                <div class="list thumbnail">
                  <img class="add-img" src="http://www.placehold.it/100x85" width="32.4%">
                  <img class="add-img" src="http://www.placehold.it/100x85" width="32.4%">
                  <img class="add-img" src="http://www.placehold.it/100x85" width="32.4%">
                </div>
              </div>
            </a>
            <!-- 리스트 하나 -->
  </div>

</div>
